/* Colores de la pagina web */
/* #111111 neutral */
/* #333333 primario */
/* #733F3F secundario */
/* #3F8854 terciario */
body {
    font-family: Arial;
    padding: 10px;
    /*margin: 0;*/
    text-align: justify;
    background-color: #f0f0f0;
    color: #333333;
}

.header {
    text-align: center;
    padding: 30px;
    background-color: #733F3F;
    color: #ffffff;
    /*height: 25px;*/
}

.navbar {
    /*position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;*/
    overflow: hidden;
    background-color: #333;
}

.navbar li a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #111;
}

.navbar-active {
    background-color: #666;
}

.main {
    padding: 20px;
    margin-top: 30px;
}

.footer {
    padding: 20px;
    text-align: center;
    background-color: ##3F8854;
    color: #ffffff;
    margin-top: 20px;
    /*height: 200px;*/
}

.button {}
