/* Colores de la pagina web */
/* #111111 neutral */
/* #333333 primario */
/* #733F3F secundario */
/* #3F8854 terciario */
body {
    font-family: Arial;
    padding: 0;
    margin: 0;
    text-align: justify;
    background-color: #f0f0f0;
    color: #333333;
}

.header {
    text-align: center;
    padding: 30px;
    background-color: #733F3F;
    color: #ffffff;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar li a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #111;
}

.active {
    background-color: #666ff;
}

.main {
    padding: 10px;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #3F8854;
    color: #ffffff;
}

.button {
    /*colocar caracteristicas del boton*/
}
